@page "/contact"

<PageTitle>Kontakt & Journummer</PageTitle>

<div class="contact-container">
    <h1 class="contact-header">Kontakt & Journummer</h1>

    <p class="contact-paragraph1">
        Om du behöver hjälp eller har frågor, är du alltid välkommen att kontakta oss. Vid akuta ärenden, vänligen ring nedanstående journummer.
    </p>
    <div class="contact-paragraph2">
        <h3>Vid nödsituation</h3>
        <p>Om det är en nödsituation, ring 112 för omedelbar hjälp.</p>
    </div>

    <div class="contact-phone">
        <h2>Journummer</h2>
        <p>070-690 05 14</p>
    </div>

    <div class="text-center">
        <h3>Allmän kontakt</h3>
        <p>För icke-akuta ärenden eller frågor kan du också nå oss via e-post på <a href="mailto:sebastian@skystedt.se">sebastian@skystedt.se</a>.</p>
    </div>
</div>