@page "/"

<div class="base-container">
    <div class="inner-container">
        <h3 class="home-title">Välkommen till Romstads parkgata 4A, Karlstad</h3>

        <img src="images/houseWithArrow.jpg" alt="Bild av huset" class="home-image" />

        <p class="home-paragraph">
            Vårt charmiga hus på Romstads parkgata 4A är den perfekta kombinationen av modern komfort och klassisk stil, omgiven av en vacker trädgård i ett lugnt och populärt område. Fastigheten erbjuder flera olika lägenheter, anpassade för både små och stora hushåll, alla utrustade med moderna bekvämligheter som helkaklade badrum.
        </p>
        <p class="home-paragraph">
            Med goda kommunikationer och närhet till service och grönområden, är detta det perfekta stället att skapa minnen med familj och vänner. Välkommen att ställa dig i bostadskön – vi ser fram emot att hjälpa dig hitta ditt nya hem på Romstads parkgata 4A.
        </p>
    </div>
</div>
