@page "/serviceRequest"
@using System.ComponentModel.DataAnnotations

<PageTitle>Felanmälan</PageTitle>

<div class="form-container">
    <h1 class="text-center rs-card-header">Felanmälan</h1>

    <p class="text-center rs-card-paragraph">
        Har du upptäckt något som behöver åtgärdas? Fyll i formuläret nedan och skicka in din felanmälan så återkommer vi så snart som möjligt.
    </p>

    <EditForm Model="felanmalanModel" OnValidSubmit="SubmitFelanmälan">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="description">Beskrivning</label>
            <InputTextArea id="description" class="form-control" @bind-Value="felanmalanModel.Description" placeholder="Beskriv problemet..." />
        </div>

        <div class="form-group">
            <label for="name">Ditt namn</label>
            <InputText id="name" class="form-control" @bind-Value="felanmalanModel.Name" placeholder="Ditt namn..." />
        </div>

        <div class="form-group">
            <label for="email">Din e-post</label>
            <InputText id="email" class="form-control" @bind-Value="felanmalanModel.Email" placeholder="Din e-post..." />
        </div>

        <div class="form-group" style="margin-bottom: 20px;">
            <label for="phone">Telefonnummer</label>
            <InputText id="phone" class="form-control" @bind-Value="felanmalanModel.Phone" placeholder="Ditt telefonnummer..." />
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-4">Skicka felanmälan</button>
    </EditForm>

    @if (isSubmitted)
    {
        <div class="alert alert-success mt-4">
            Tack för din felanmälan! Vi kommer att kontakta dig inom kort.
        </div>
    }
</div>